.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(252, 252, 252, 0.3), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/45717/pexels-photo-45717.jpeg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 7rem;
    /* color: rgb(55, 51, 59); */
}
.header-text{
    /* color: rgb(187, 44, 25); */
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}